body {
    font-family: Helvetica;
    overflow: hidden;
}

.mainpane {
    position: absolute;
    top: 0; left: 0;
}

.mainpane.move {
    cursor: grab;
}

#helppanel {
    display: none;
    position: absolute;
    background: #ffeebb;
    border: 2px solid black;
    padding: 1em;
    padding-bottom: 0;
    width: 20em;
    border-radius: .5em;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

#helppanel p {
    margin: 0 0 1em 0;
    line-height: 1.3;
}

.upperright {
    float: right;
    margin: -.75em;
    border: 1px solid #00000000;
    border-radius: .25em;
}

.upperright:hover {
    border: 1px solid black;
}

.upperright * {
    margin-bottom: -.25em;
}

kbd {
    display: inline-block;
    font-family: monospace;
    font-weight: bold;
    background: #f0f0f0;
    border: 2px solid #888;
    border-color: #888 #333 #333 #888;
    border-radius: .25em;
    padding: .1em .25em;
    margin: .1em;
}
