<!DOCTYPE html>
<head>
    <title>Aptus</title>
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
    <script>
    const palettes = {{palettes|tojson}};
    </script>
    <script src="/static/aptus.js"></script>
</head>
<body>
    <div id="the_view"/>

    {% set alt -%}
        <b><span class="notmac">alt</span><span class="mac">option</span></b>
    {%- endset %}

    {% set closebtn -%}
        <div class="closebtn">{% include "icon_close.svg" %}</div>
    {%- endset %}

    <div id="helppanel" class="panel draggable">
        {{closebtn}}
        <p><b>Aptus {{version}}</b>, Mandelbrot set explorer.</p>

        <p>Copyright 2007-2021, Ned Batchelder.
        <a href='https://nedbatchelder.com/code/aptus'>http://nedbatchelder.com/code/aptus</a>
        </p>

        <p>
        <kbd>a</kbd> set the angle<br/>
        <kbd>c</kbd> toggle continuous coloring<br/>
        <kbd>i</kbd> set the iteration limit<br/>
        <kbd>I</kbd> show the computation parameters panel<br/>
        <kbd>P</kbd> show the palette parameters panel<br/>
        <kbd>r</kbd> redraw<br/>
        <kbd>R</kbd> reset everything<br/>
        <kbd>w</kbd> set the canvas size<br/>
        <kbd>,</kbd> <kbd>.</kbd> cycle through palettes<br/>
        <kbd>&lt;</kbd> <kbd>&gt;</kbd> rotate the angle (+{{alt}}: just a little)<br/>
        <kbd>?</kbd> toggle help panel<br/>
        </p>
        <p>
        <b>click</b>: zoom in (+{{alt}}: just a little)<br/>
        <b>shift-click</b>: zoom out (+{{alt}}: just a little)<br/>
        <b>click-drag</b>: select new viewing rectangle<br/>
        <b>shift-click-drag</b>: pan the view<br/>
        </p>
    </div>

    <div id="infopanel" class="panel draggable form">
        {{closebtn}}
        <p><label for="centerr">c.r:</label><input id="centerr" size="20"/></p>
        <p><label for="centeri">c.i:</label><input id="centeri" size="20"/></p>
        <p><label for="pixsize">pixel:</label><input id="pixsize" size="20"/></p>
        <p><label for="angle">angle:</label><input id="angle" size="3"/></p>
        <p><label for="iter_limit">iters:</label><input id="iter_limit" size="8"/></p>
    </div>

    <div id="palettepanel" class="panel draggable form">
        {{closebtn}}
        <p><label for="ncolors">colors:</label><input id="ncolors" size="3" value="12"/></p>
        <p><label for="hlo">hue:</label><input id="hlo" size="3" value="0"/> <input id="hhi" size="3" value="360"/></p>
        <p><label for="llo">light:</label><input id="llo" size="3" value="100"/> <input id="lhi" size="3" value="150"/></p>
        <p><label for="slo">sat:</label><input id="slo" size="3" value="100"/> <input id="shi" size="3" value="100"/></p>
        <p><label for="stretch">stretch:</label><input id="stretch" size="3" value="4"/></p>
        <p><label for="ease">ease:</label><input id="ease" value="1" size="5"/></p>
    </div>

    <script>
        document.body.onload = main;
    </script>
</body>
