<!DOCTYPE html>
<head>
    <title>Aptus</title>
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
    <script>
    const palettes = {{palettes|tojson}};
    </script>
</head>
<body>
    <canvas id="fractal" class="mainpane"></canvas>
    <canvas id="overlay" class="mainpane"></canvas>
    <div id="helppanel">
        <p><b>Aptus {{version}}</b>, Mandelbrot set explorer.</p>

        <p>Copyright 2007-2021, Ned Batchelder.
        <a href='https://nedbatchelder.com/code/aptus'>http://nedbatchelder.com/code/aptus</a>
        </p>

        <p>
        <kbd>c</kbd> toggle continuous coloring<br/>
        <kbd>i</kbd> change the iteration limit<br/>
        <kbd>m</kbd> toggle move mode<br/>
        <kbd>r</kbd> reset everything<br/>
        <kbd>&lt;</kbd> <kbd>&gt;</kbd> cycle through palettes<br/>
        <kbd>?</kbd> toggle help panel<br/>
        </p>
        <p>
        <b>click</b>: zoom in (+ctrl just a little)<br/>
        <b>shift-click</b>: zoom out (+ctrl just a little)<br/>
        </p>
    </div>
    <script src="/static/aptus.js"></script>
</body>
